<header class="main_header">
  <nav>
    <ul>
      <li><%= link_to 'LOGOUT','/logout',class: :top_header_link%></li>
      <li><%= link_to 'HOME','/student_index',class: :top_header_link %></li>
      <li><%= link_to 'REVIEW US','#',class: :top_header_link %></li>
      <li><%= link_to 'TEAM','#',class: :top_header_link %></li>
    </ul>
  </nav>
</header>

<aside style="width:11%">
  <h3>Lectures</h3>
  <ul>
    <% counter=1 %>
    <% current_lecture_number="" %>

    <% @lectures.each  do |lecture|%>
      <li>

        <% if lecture==@current_lecture%>
          <% current_lecture_number+=counter.to_s %>
        <% end %>

        <% s="Lecture "+counter.to_s %>
        <% counter+=1 %>
        <div>
        <p><%= lecture.title %></p>
        <p class="genre"><%= s %></p>
        <%= link_to 'VISIT',url_for(controller: :main,action: :study_lecture,:course=>@course.id,:lecture=>lecture.id),class: :link %>
        </div>

      </li>
    <% end %>

  </ul>
</aside>

<div class="study_material">
  <% str=@course.name %>
  <h3><%=str.upcase %></h3>
    <h3>Lecture <%=current_lecture_number %></h3>
  <p><%= @current_lecture.content %></p>
  <% if @youtube_link %>
     <iframe title="YouTube video player" width="auto" height="390" src="http://www.youtube.com/embed/<%=@youtube_link%>" frameborder="2" allowfullscreen></iframe>
  <% end %>   

</div>