<header class="main_header">
  <nav>
    <ul>
      <li><%= link_to 'LOGOUT','/logout',class: :top_header_link%></li>
      <li><%= link_to 'HOME','/teacher_index',class: :top_header_link %></li>
      <li><%= link_to 'CONTACT','#',class: :top_header_link %></li>
      <li><%= link_to 'REVIEW US','#',class: :top_header_link %></li>
      <li><%= link_to 'TEAM','#',class: :top_header_link %></li>
      <li><%= link_to 'UPDATE COURSE',url_for(controller: :main,action: :update_course,:course=>@course.id),class: :top_header_link%></li>
    </ul>
  </nav>
</header>

<aside style="width:11%">
  <h3>Lectures</h3>
  <ul>
    <% counter=1 %>

    <% @lectures.each  do |lecture|%>
      <li>

        <% s="Lecture "+counter.to_s %>
        <% counter+=1 %>
        <div>
        <p><%= lecture.title %></p>
        <p class="genre"><%= s %></p>
        <% str="lecture_#{lecture.id}" %>

        <%= link_to 'VISIT',url_for(controller: :main,action: :update_lecture,:course=>@course.id,:lecture=>lecture.id),class: :link,id: str %>
        </div>

      </li>

    <% end %>
  <li> <%= link_to 'CREATE LECTURE',url_for(controller: :main,action: :create_lecture,:course=>@course.id),class: :link %>
    </li>
  </ul>
</aside>

<%= form_tag '/update_lecture_post', :remote=>true , id: "update_lecture_form" do%>
     <div class="new_course">
    <div class="create">
      <p>LECTURE TITLE:</p><%= text_field_tag 'lecture_title' ,@lecture.title, id: "update_lecture_title" , class: :title,:required=>true %>
      <%= hidden_field_tag :lec_id , @lecture.id %>

    </div>

    <%= text_field_tag('link',@lecture.link,class: :text_area,id: "lecture_link", :placeholder=>'You Tube Link')  %>


    <%= text_area_tag('lecture_content',@lecture.content , class: :text_area,id: "update_lecture_content",:required=>true , :placeholder=>'Content')  %>

    <%= submit_tag 'Update Lecture',class: :create_submit %>
    </div>

<% end %>