<header class="main_header">
  <nav>
    <ul>
      <li><%= link_to 'LOGOUT','/logout',class: :top_header_link%></li>
      <li><%= link_to 'HOME','/teacher_index',class: :top_header_link %></li>
      <li><%= link_to 'CONTACT','#',class: :top_header_link %></li>
      <li><%= link_to 'REVIEW US','#',class: :top_header_link %></li>
      <li><%= link_to 'TEAM','#',class: :top_header_link %></li>
    </ul>
  </nav>
</header>
<%= form_tag '/update_course_post', id: "update_form" do%>
    <div class="new_course">
    <div class="create">
      <p>TITLE:</p><%= text_field_tag 'title' ,@course.name, class: :title,id: "update_title",:required=>true %>
      <p style="display:none" id= "course"><%= @course.id %></p>
    </div>
    <ul>

    <li>
    <%= label_tag('type','Web') %>
    <%= radio_button_tag('type','web') %>
    </li>

    <li>
    <%= label_tag('type','ANDROID') %>
    <%= radio_button_tag('type','android') %>
    </li>

    <li>
    <%= label_tag('type','JAVA') %>
    <%= radio_button_tag('type','java') %>
    </li>

    <li>
    <%= label_tag('type','RUBY') %>
    <%= radio_button_tag('type','ruby') %>
    </li>

    <li>
    <%= label_tag('type','OTHERS') %>
    <%= radio_button_tag('type','others',true) %>
    </li>

    </ul>
    <% commitment=@course.commitment %>
    <% description=@course.description %>
    <%= text_field_tag('commitment',commitment,class: :text_area, id: "update_commitment",:required=>true , :placeholder=>'Time Required')  %>

    <%= text_area_tag('description',description,class: :text_area,id: "update_description",:required=>true , :placeholder=>'Description')  %>

    <%= submit_tag 'UPDATE COURSE',class: :create_submit %>

    </div>

<% end %>